DISCORD_BOT_TOKEN=
DISCORD_APPLICATION_ID=
RATE_LIMIT_USES=5
RATE_LIMIT_WINDOW_SECONDS=30
EMOJI_KITCHEN_METADATA_URL=https://raw.githubusercontent.com/xsalazar/emoji-kitchen-backend/main/app/metadata.json
